spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
        format_sql: false
        use_sql_comments: false
        dialect: org.hibernate.dialect.MariaDBDialect

  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      region:
        static: ap-northeast-2
      s3:
        bucket: ${S3_BUCKET_NAME}

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

server:
  servlet:
    context-path: ${CONTEXT_PATH}
  forward-headers-strategy: framework

springdoc:
  api-docs:
    enabled: false

logging:
  level:
    root: INFO
    com.inchelin: INFO
    org.springframework: WARN
    org.hibernate: WARN
